*{
    margin: 0px;
    padding: 0px;
}


body{
    font-family: monospace;
    background-color: black;
    color: rgba(61, 226, 61, 0.925);
}

hr{
    border: 1px solid rgba(61, 226, 61, 0.925);
}

.grupoComandos {
    display:flex;
    flex-direction: column;
    gap: 15px;
}

.cartaoComandos {
 
 border: 1px solid #00ff00;
 border-radius: 40px;
 width: 75vw;
 height: 20vw;
}


.cartaoComandos:hover{
    background-color: #330325;
    scale: 105%;
    transform: translateY(-5%);
}

.cartaoComandos p {
    height:10%;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-block: auto;
}

.cartaoComandos h3 {
    text-align: center;
}

main {
    display:flex ;
    flex-direction: column;
    margin-block: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

canvas {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;}

header{
    text-align: center;
}

@media only screen and (min:600px){

    font-size:row;
    flex-wrap: -ms-wrap-flow;

}

.cartaoComandos{

    width: calc(500vw-30px);
}
@media onlu screen and (min-width)
